---
import type { HTMLAttributes } from 'astro/types';
import { classMerge } from "../../../utils/classMerge";

interface Props extends HTMLAttributes<'a'> {
  href?: string;
  disabled?: boolean;
}

const { href = '#', disabled, class: className, ...rest } = Astro.props;
---

<a
  href={disabled ? undefined : href}
  class={classMerge(
    "relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground",
    disabled && "pointer-events-none opacity-50",
    className
  )}
  {...rest}
>
  <slot />
</a>
