---
import '../styles/globals.css';
import { Navbar, NavbarLink, ThemeScript } from '@rubengvillar/design-system-astro'; // O la ruta que estés usando

interface Props {
  title: string;
}

const { title } = Astro.props;

// Lista de componentes para el Sidebar
const components = [
  { name: 'Typography', url: '/docs/typography' },
  { name: 'Button', url: '/docs/button' },
  { name: 'Alert', url: '/docs/alert' },
  { name: 'Forms', url: '/docs/forms' },
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Design System Docs</title>
    <ThemeScript />
  </head>
  <body class="min-h-screen bg-background text-foreground flex flex-col">
    <Navbar>
      <a href="/" slot="brand" class="font-bold text-xl">SystemDocs</a>
      <Fragment slot="links">
        <NavbarLink href="/">Inicio</NavbarLink>
        <NavbarLink href="/docs/button">Documentación</NavbarLink>
      </Fragment>
    </Navbar>

    <div class="container mx-auto flex-1 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10 px-6 py-8">
      
      <aside class="fixed top-14 z-30 -ml-2 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block overflow-y-auto py-6 pr-6 border-r">
        <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">Componentes</h4>
        <div class="grid grid-flow-row auto-rows-max text-sm">
          {components.map((item) => (
            <a 
              href={item.url} 
              class={`group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline text-muted-foreground ${Astro.url.pathname === item.url ? 'text-foreground font-medium' : ''}`}
            >
              {item.name}
            </a>
          ))}
        </div>
      </aside>

      <main class="relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]">
        <div class="mx-auto w-full min-w-0">
          <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-4">
            {title}
          </h1>
          <hr class="my-4 md:my-6" />
          
          <slot />
          
        </div>
      </main>
    </div>
  </body>
</html>