---
import { classMerge } from "../../../utils/classMerge";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h5"> {}
const { class: className, ...rest } = Astro.props;
---

<h5 class={classMerge("mb-1 font-medium leading-none tracking-tight", className)} {...rest}>
  <slot />
</h5>
