---
import type { HTMLAttributes } from 'astro/types';
import { classMerge } from "../../../utils/classMerge";

interface Props extends HTMLAttributes<'td'> {}

const { class: className, ...rest } = Astro.props;
---

<td
  class={classMerge("p-4 align-middle [&:has([role=checkbox])]:pr-0", className)}
  {...rest}
>
  <slot />
</td>
