---
import type { HTMLAttributes } from 'astro/types';
import { classMerge } from "../../../utils/classMerge";

interface Props extends HTMLAttributes<'button'> {}

const { class: className, ...rest } = Astro.props;
---

<button data-modal-close class={classMerge("absolute right-4 top-4 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none data-[state=open]:bg-accent data-[state=open]:text-muted-foreground", className)} {...rest}>
  <slot>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    <span class="sr-only">Close</span>
  </slot>
</button>
