---
import { classMerge } from "../../../utils/classMerge";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<p class={classMerge(["text-sm font-medium text-red-500", className])}>
  <slot />
</p>
