---
import { classMerge } from "../../../utils/classMerge";

interface Props {
  error?: string | boolean;
  class?: string;
}

const { error, class: className } = Astro.props;
---

<div class={classMerge(["space-y-2", className])}>
  <slot name="label" />
  
  <slot />
  
  {typeof error === 'string' && error.length > 0 && (
    <p class="text-[0.8rem] font-medium text-destructive">
      {error}
    </p>
  )}
</div>
