---
import { classMerge } from "../../../utils/classMerge";
import type { HTMLTag } from "astro/types";
import type { PolymorphicProps } from "../../types/polymorphic";

type Props<T extends HTMLTag = "div"> = PolymorphicProps<T>;

const { class: className, as: Tag = "div", ...rest } = Astro.props;
---

<Tag
  data-collapse-content
  role="region"
  class={classMerge("text-sm", className)}
  {...rest}
>
  <div class="pb-4">
    <slot />
  </div>
</Tag>
