---
import { classMerge } from "../../../utils/classMerge";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {}

const { class: className, ...rest } = Astro.props;
---

<button
  data-collapse-header
  type="button"
  class={classMerge(
    "flex w-full items-center justify-between py-4 text-sm font-medium transition-all hover:text-primary",
    className
  )}
  {...rest}
>
  <slot />
  <svg
    data-collapse-icon
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="h-4 w-4 shrink-0 transition-transform duration-200"
  >
    <path d="m6 9 6 6 6-6"></path>
  </svg>
</button>
