---
import type { HTMLAttributes } from 'astro/types';
import { classMerge } from '../../utils/classMerge';

interface Props extends HTMLAttributes<'div'> {
  size?: 'sm' | 'md' | 'lg' | 'full';
}

const { class: className, size = 'lg', ...rest } = Astro.props;

const sizes = {
  sm: 'max-w-screen-sm',
  md: 'max-w-screen-md',
  lg: 'max-w-screen-xl',
  full: 'max-w-full'
};
---

<div class={classMerge("mx-auto px-6 w-full", sizes[size], className)} {...rest}>
  <slot />
</div>
