---
import type { HTMLAttributes } from 'astro/types';
import { classMerge } from '../../utils/classMerge';

interface Props extends HTMLAttributes<'div'> {
  colSpan?: '1' | '2' | '3' | 'full';
}

const { colSpan = '1', class: className, ...rest } = Astro.props;

const spans = {
  '1': 'col-span-1',
  '2': 'col-span-2',
  '3': 'col-span-3',
  'full': 'col-span-full',
};
---

<div class={classMerge(spans[colSpan], className)} {...rest}>
  <slot />
</div>
