---
import type { HTMLAttributes } from 'astro/types';
import { classMerge } from "../../utils/classMerge";

interface Props extends HTMLAttributes<'div'> {
  gap?: 'sm' | 'md' | 'lg';
}

const { 
  gap = "md", 
  class: className,
  ...rest
} = Astro.props;

const gapStyles = {
  sm: 'gap-2',
  md: 'gap-4',
  lg: 'gap-8',
};
---

<div class={classMerge(
  "grid w-full",
  gapStyles[gap],
  className
)} {...rest}>
  <slot />
</div>
