---
import { classMerge } from "../../../utils/classMerge";

const { class: className } = Astro.props;
---

<div class:list={classMerge("flex flex-col space-y-1.5 p-6", className)}>
  <slot />
</div>
