---
import { classMerge } from "../../utils/classMerge";
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'img'> {
  src: string;
  alt: string;
  aspectRatio?: 'auto' | 'square' | 'video' | 'portrait';
}

const { 
  src, 
  alt, 
  aspectRatio = 'auto', 
  class: className, 
  ...rest 
} = Astro.props;

// Clases para manejar la relación de aspecto
const aspectClasses = {
  auto: "aspect-auto",
  square: "aspect-square",
  video: "aspect-video", // 16:9
  portrait: "aspect-[3/4]",
};
---

<div class={classMerge(["overflow-hidden", aspectClasses[aspectRatio], className])}>
  <img
    src={src}
    alt={alt}
    loading="lazy"
    decoding="async"
    onload="this.classList.remove('opacity-0')"
    class="h-full w-full object-cover opacity-0 transition-opacity duration-500 ease-in-out"
    {...rest}
  />
</div>
