---
import type { HTMLAttributes } from 'astro/types';
import { classMerge } from "../../../utils/classMerge";

interface Props extends HTMLAttributes<'div'> {
  value: string;
}

const { value, class: className, ...rest } = Astro.props;
---

<div
  role="tabpanel"
  data-value={value}
  data-state="inactive"
  class={classMerge(
    "mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 hidden data-[state=active]:block",
    className
  )}
  {...rest}
>
  <slot />
</div>
